body {
  margin: 10px 40px;
  background-color: white;
}

.box {
  background-color:#B1E3F6;
  border-radius: 5px;
  padding: 10px;
}

.header {
  text-align: center;
  margin-bottom: 15px;
}

.footer {
  text-align: center;
  margin-top: 15px;
  background-color: #E1E1E1;
}

#svg2 {
	width: 100%;
	height: 100%;
}

.marginTop {
  margin-top: 15px;
}

.info-box {
    display: none;
}

.info-box.active {
    display: block;
}


